<div class="image-filters">
  <div class="image-filters-header">Filters</div>
  <div class="image-filters-reset"><%= fa_icon("refresh", text: "Reset") %></div>
  <div class="image-filters-selector">
    <div class="filter-icon filter-none"></div>
    <div class="filter-name">None</div>
    <div class="filter-arrow"></div>
  </div>
  <div class="image-filters-list">
    <div class="image-filters-option none">
      <div class="filter-icon filter-none"></div>
      <div class="filter-name">None</div>
    </div>
    <div class="image-filters-option light-contrast">
      <div class="filter-icon filter-light-contrast"></div>
      <div class="filter-name">Light Contrast</div>
    </div>
    <div class="image-filters-option heavy-contrast">
      <div class="filter-icon filter-heavy-contrast"></div>
      <div class="filter-name">Heavy Contrast</div>
    </div>
    <div class="image-filters-option light-blur">
      <div class="filter-icon filter-light-blur"></div>
      <div class="filter-name">Light Blur</div>
    </div>
    <div class="image-filters-option heavy-blur">
      <div class="filter-icon filter-heavy-blur"></div>
      <div class="filter-name">Heavy Blur</div>
    </div>
    <div class="image-filters-option sepia">
      <div class="filter-icon filter-sepia"></div>
      <div class="filter-name">Sepia</div>
    </div>
    <div class="image-filters-option saturate">
      <div class="filter-icon filter-saturate"></div>
      <div class="filter-name">Saturate</div>
    </div>
    <div class="image-filters-option grayscale">
      <div class="filter-icon filter-grayscale"></div>
      <div class="filter-name">Grayscale</div>
    </div>
    <div class="image-filters-option blur-grayscale">
      <div class="filter-icon filter-blur-grayscale"></div>
      <div class="filter-name">Blur Grayscale</div>
    </div>
    <div class="image-filters-option opacity">
      <div class="filter-icon filter-opacity"></div>
      <div class="filter-name">Opacity</div>
    </div>
  </div>
</div>