<div class="waiting-notice">We're preparing your awesome image, this will take 3 to 20 seconds...</div>
<div class="share-download">
  <!-- <%= submit_tag "Share & Download", class: "btn btn-primary share-download-button" %> -->
  <div class="share-button">
    <a class="facebook-btn" target="_blank" href=""></a>
    <div class="reload-share"><%= render 'social_share' %></div>
  </div>

  <%= link_to fa_icon("download 2x"), start_download_path, method: :post, class: "download-button" %>
  <!-- <div class="download-button">
   <%= button_to "Download", start_download_path, class: "download-trigger btn btn-info" %>
  </div> -->
  
  <a href="http://bufferapp.com/add" class="buffer-add-button" data-text="text" data-url="https:&#x2F;&#x2F;word-doc.herokuapp.com" data-count="none" data-picture="picture" ></a><script type="text/javascript" src="https://static.buffer.com/js/button.js"></script>
</div>

<!-- <div class="step-notice">1- Click on the text which you want to share or download to select it</div>
<div class="download-notice">Please select the following you want to share or download:
  <ul>
    <li id="download-text">Text</li><span class="text-status">waiting for select</span>
    <li id="download-image">Image</li><span class="image-status">waiting for select</span>
    <li id="download-logo">Logo</li><span class="logo-status">waiting for select</span>
  </ul>
</div> -->