<div class="image-sizes" onselectstart="return false">
  <div class="image-sizes-header">Sizes</div>
  <div class="image-sizes-item tall"></div>
  <div class="image-sizes-item square"></div>
  <div class="image-sizes-item wide image-sizes-item-selected"></div>
</div>