<div class="image-sizes">
  <div class="image-sizes-header">Sizes</div>
  <span class="image-sizes-item"></span>
  <span class="image-sizes-item"></span>
  <span class="image-sizes-item"></span>
</div>