<div class="image-extra-options">
  <div class="image-extra-options-header">Text</div>
  <div class="text-toggles" onselectstart="return false">
    <span class="text-toggle-selected" onclick="select_text(this);">Header</span>
    <span class="text-toggle-selected" onclick="select_text(this);">Quotation</span>
    <span class="text-toggle-selected" onclick="select_text(this);">Bullet</span>
    <span class="text-toggle-selected" onclick="select_text(this);">Bold</span>
  </div>
  <div id="trash"></div>
</div>