<div class="image-tool">
  <div class="image-tool-header">Tool</div>
  <button class="btn btn-primary reposition">Reposition</button>
  <button class="btn btn-primary select-button">Select Image</button>
</div>