<div class="image-tool">
  <div class="image-tool-header">Tool</div>
  <button class="btn btn-primary select-button" title="Select the image you want to make change">Select Image</button>
  <button class="btn btn-primary reposition" title="Reposition one image">Reposition</button>
  <button class="btn btn-danger clear-image" title="Clear all the current iamges">Clear Image</button>
</div>