.download-content{
  display: inline-block;
}

.download-text{
  position: absolute;
  top: 0;
  font-size: 20px;
  width: 491px;
  display: block;
}

.download-image{
  width: 491px;
  overflow: hidden;
}

.download-logo{
  position: absolute;
  top: 20px;
  left: 20px;
}

.step-notice{
  display: none;
  width: 400px;
  height: 80px;
  padding: 10px;
  background: #fff8dc;
  border: dashed 2px skyblue;
  font-size: 20px;
  font-weight: bold;
  position: fixed;
  top: 250px;
  right: 1px;
}

.download-text-hover{
  background: #ffd700;
}

.background-not{
  filter: contrast(0.2) !important;
}

/* .share-download-button{
  cursor: pointer;
  margin-top: 2px;
  margin-left: 356px;
  position: absolute;
  width: 110px;
  height: 28px;
  font-size: 12px !important;
  padding: 2px !important;
} */

.share-button{
  display: none;
  position: absolute;
  z-index: 2;
}

.download-button{
  position: absolute;
  display: none;
  color: #5CB85C;
  z-index: 2;
}

.download-notice{
  display: none;
  width: 300px;
  height: 150px;
  border: solid 3px orange;
  margin-top: 10px;
  padding: 10px;
  right: 10px;
  position: fixed;
}

#download-text{
  cursor: pointer;
  list-style: circle;
  float: left;
}

.selected-text{
  cursor: initial !important;
}

#download-image{
  cursor: pointer;
  list-style: circle;
  position: absolute;
}

#download-logo{
  cursor: pointer;
  list-style: circle;
  position: absolute;
  margin-top: 25px;
}

.download-text-ready, .download-image-ready, .download-logo-ready{
  list-style: disc !important;
}

.download-ready{
  border: solid 3px green !important;
}

.text-status{
  color: red;
  margin-left: 10px;
}

.image-status{
  color: red;
  margin-left: 52px;
  float: left;
}

.logo-status{
  color: gray;
  float: left;
  margin-left: 45px;
  margin-top: 2px;
}

.text-status-ready, .image-status-ready, .logo-status-ready{
  color: green !important;
}

.waiting-notice{
  width: 300px;
  background: #FFFFFF;
  display: none;
  font-size: 14px;
  position: absolute;
  z-index: 5;
  color: black;
  padding: 10px;
  font-weight: bold;
  box-shadow: 2px 2px 5px gray;
}

.download-trigger{
  cursor: pointer;
  position: absolute;
  width: 100px;
  height: 30px;
  padding: 3px !important;
  font-size: 14px !important;
  top: 55px;
  left: 740px;
}

.buffer-button{
  display: none;
  position: absolute;
  z-index: 2;
}

.social-share-button{
  margin-left: 35px;
}

.facebook-btn{
  position: absolute;
  width: 30px;  
  height: 30px;
  background-size: 30px;
  background-image: url(/assets/social-share-button/facebook-03210e1663ee772e93ed5d344cdb36657b68342821aaebe982f2f984915990b3.svg);
}

.each-share-button{
  position: absolute;
  z-index: 2;
  color: #3569CF;
  cursor: pointer;
  left: 0px;
}

.each-delete-button{
  display: none;
  position: absolute;
  z-index: 2;
  color: red;
  cursor: pointer;
}

.each-delete-button-expand{
  margin-left: 30px;
}
