$commonBorder: solid 1px #f2f2f2;

.doc-container{
  margin: 20px 150px;
}

.type-box{
  float: left;
  width: 550px;
}

.canvas-center{
  background: #FCFCFC;
  float: left;
  width: 600px;
  height: 800px;
  margin: 0 20px;
  padding: 0 28px;
}

.result{
  width: 500px;
  height: 400px;
  overflow: scroll;
}

.image-options, .gallery{
  float: left;
}

.gallery-list{
  padding: 20px 10px;
  height: 550px;
  overflow: scroll;
}

.gallery-item{
  list-style: none;
  margin: 16px 0;
  cursor: pointer;
}

.gallery-item-selected{
  border: solid 4px skyblue;
  border-radius: 5px;
  box-shadow: 1px 8px 5px #888888;
}

#background{
  width: 600px;
  height: 320px;
  position: absolute;
}

#toolbar{
  display: none;
  position: relative;
  z-index: 88;
  width: 50px;
  height: 30px;
  border-radius: 10px;
  background: #242A30;
  text-align: center;
}

#delete{
  cursor: pointer;
  /* position: absolute; */
}

.item-deleted{
  cursor: pointer;
  position: static;
}

@mixin basic-config{
  background: #FFFFFF;
  border: $commonBorder;
  border-radius: 8px;
  width: 260px;
  margin: 20px 0;
}

.image-extra-options{
  @include basic-config;
  height: 140px;
}

.image-sizes{
  @include basic-config;
  height: 100px;
}

.image-filters{
  @include basic-config;
  height: 100px;
}

.gallery{
  background: #FFFFFF;
  border: $commonBorder;
  border-radius: 6px;
  width: 230px;
  height: 600px;
  margin: 20px 0;
}

.image-extra-options-header, .gallery-header, .image-sizes-header, .image-filters-header{
  color: #98A0A6;
  border-bottom: $commonBorder;
  padding: 10px 10px 3px 10px;
}

.text-toggles{
  padding: 10px 15px;
  line-height: 2.5em;
}

#header{
  margin-left: 10px;
  width: 600px;
}

#quotation{
  margin-top: 200px;
}

#bullet{
  margin-top: 80px;
}

#bold{
  margin-left: 300px;
  margin-top: 100px;
  width: 280px;
}

.text-toggle{
  padding: 5px;
  border: solid 1px grey;
  cursor: pointer;
}

.text-toggle-selected{
  padding: 5px;
  border: solid 2px deepskyblue;
  cursor: pointer;
}