.doc-container{
  margin: 20px;
}

.type-box{
  float: left;
}

.result{
  background: #FCFCFC;
  float: left;
  width: 500px;
  height: 600px;
  padding-left: 50px;
  margin: 0 20px;
  font-size: 20px;
}

.image-options{
  background: #FFFFFF;
  float: left;
}

.image-extra-options{
  border: solid 1px #f2f2f2;
  width: 260px;
  height: 100px;
}

.image-extra-options-header{
  color: #98A0A6;
  border-bottom: solid 1px #f2f2f2;
  padding: 10px 10px 3px 10px;
}

.text-toggles{
  padding: 16px;
}

#header{
  position: absolute;
  margin-left: 30px;
}

#quotation{
  position: absolute;
  margin-top: 300px;
}

#bullet{
  position: absolute;
  margin-top: 80px;
}

.text-toggle{
  padding: 5px;
  border: solid 1px grey;
  cursor: pointer;
}

.text-toggle-selected{
  padding: 5px;
  border: solid 2px deepskyblue;
  cursor: pointer;
}