$commonBorder: solid 1px #f2f2f2;

.doc-container{
  margin: 20px 150px;
}

.type-box{
  float: left;
  width: 550px;
}

.canvas-center{
  background: #FCFCFC;
  float: left;
  width: 600px;
  height: 800px;
  margin: 0 20px;
  padding: 0 28px;
}

.result{
  width: 500px;
  height: 400px;
}

.image-options, .gallery{
  float: left;
}

@mixin basic-config{
  background: #FFFFFF;
  border: $commonBorder;
  border-radius: 8px;
  width: 260px;
  margin: 20px 0;
}

.image-extra-options{
  @include basic-config;
  height: 140px;
}

.image-sizes{
  @include basic-config;
  height: 100px;
}

.image-filters{
  @include basic-config;
  height: 100px;
}

.gallery{
  background: #FFFFFF;
  border: $commonBorder;
  border-radius: 6px;
  width: 200px;
  height: 400px;
  margin: 20px 0;
}

.image-extra-options-header, .gallery-header, .image-sizes-header, .image-filters-header{
  color: #98A0A6;
  border-bottom: $commonBorder;
  padding: 10px 10px 3px 10px;
}

.text-toggles{
  padding: 10px 15px;
  line-height: 2.5em;
}

#header{
  position: absolute;
  margin-left: 10px;
  width: 600px;
}

#quotation{
  position: absolute;
  margin-top: 300px;
}

#bullet{
  position: absolute;
  margin-top: 80px;
}

#bold{
  position: absolute;
  margin-left: 300px;
  margin-top: 200px;
  width: 280px;
}

.text-toggle{
  padding: 5px;
  border: solid 1px grey;
  cursor: pointer;
}

.text-toggle-selected{
  padding: 5px;
  border: solid 2px deepskyblue;
  cursor: pointer;
}