<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 

    <title>WordDoc</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="header">
      <div class="header-container">
        <span style="float: left;">Word-doc</span>
        <div id="templates">
          <div class="templates-label" onselectstart="return false">Templates</div>
          <div class="templates-container">
            <ul class="templates-list">
              <li class="templates-item templates-item-blank" onclick="select_template(this);">Blank</li>
              <li class="templates-item templates-item-quote" onclick="select_template(this);">Quote</li>
              <li class="templates-item templates-item-announcement" onclick="select_template(this);">Announcement</li>
              <li class="templates-item templates-item-promotion" onclick="select_template(this);">Promotion</li>
            </ul>
          </div>
        </div>
      </div>
    </section>      
    <%= yield %>
  </body>
</html>
